.root {
  font-size: var(--fs-small);
  border: 1px solid var(--c-feedback-success);
  color: var(--c-feedback-success);
  padding: 0.3em 1em;

  &.error {
    color: var(--c-feedback-danger);
    border-color: var(--c-feedback-danger);
  }

  &.warning {
    color: var(--c-feedback-warning);
    border-color: var(--c-feedback-warning);
  }
}
