button {
  /* reset */
}

.root {
  cursor: pointer;
  background-color: var(--c-button-bkg);
  color: var(--c-button-color);
  padding: 0.7em 0.9em;
  display: inline-flex;
  align-items: center;
  position: relative;
  border-radius: 0.2em;
  line-height: 1;

  @mixin box-shadow;
  @mixin transition;

  &:hover {
    transform: translateY(-1%);
    @mixin box-shadow-hover;
  }

  /* colors */

  &.color-secondary {
    --c-button-color: var(--c-white);
    --c-button-bkg: var(--c-secondary);
  }

  &.color-white {
    --c-button-color: var(--c-p);
    --c-button-bkg: var(--c-white);
  }

  /* types */

  &.type-text {
    padding: 0 0;
    background-color: transparent;
    color: var(--c-button-bkg);
    box-shadow: none;

    &:hover {
      box-shadow: none;
      transform: translateY(0);
      text-decoration: underline;
    }

    &.color-white {
      color: var(--c-p);
    }
  }

  /* elements */

  .text {
    display: inline-block;
    will-change: opacity;
    transition: opacity 200ms;
  }

  .icon {
    transition: opacity 200ms;
    transform: scale(1.2);
    font-size: 1em;

    svg {
      display: block;
    }
  }

  .loader {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 1.4em;
    opacity: 0;
  }

  /* states */

  &.isDisabled {
    opacity: 0.8;
    pointer-events: none;
    cursor: initial;
    --c-button-color: var(--c-gray-06);
    --c-button-bkg: var(--c-gray-03);
  }

  &.hasText .icon {
    margin-right: 0.5em;
  }

  &.isSquare:not(.type-text) {
    padding: 0.5em;
  }

  &.isRound {
    border-radius: 1000px;
  }

  &.isLoading {
    opacity: 0.8;
    pointer-events: none;
    cursor: initial;

    .loader {
      opacity: 1;
    }

    .text,
    .icon {
      opacity: 0;
    }
  }
}
