.park {
  &__header {
    background: var(--c-secondary);
    position: sticky;
    z-index: 9999;
  }

  &__title {
    padding: var(--spacing) var(--spacing) 0 var(--spacing);
  }

  &__loader {
    margin-top: 15vh;
  }

  &__content {
    p {
      line-height: 1.5;

      & + p {
        margin-top: 0.5em;
      }
    }

    ul {
      padding-left: 1em;
      list-style: none;

      li {
        position: relative;

        & + li {
          margin-top: 0.2em;
        }

        &:before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0.5em;
          background-color: currentColor;
          width: 0.3em;
          height: 0.3em;
          border-radius: 50%;
          transform: translateX(-250%);
        }
      }
    }
  }

  &__body {
    padding: var(--spacing);

    & > * + * {
      margin-top: var(--spacing);
    }
  }
}
