.park-weather {
  &__title {
    margin-bottom: var(--spacing-half);
  }

  &__list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__element {
    text-align: center;
    width: 50%;
    position: relative;
    padding: 0 var(--spacing);

    &:after {
      content: '';
      position: absolute;
      top: var(--spacing-half);
      bottom: var(--spacing-half);
      right: 0;
      border-right: 1px solid var(--c-gray);
    }

    &:first-child:before {
      content: '';
      position: absolute;
      top: var(--spacing-half);
      bottom: var(--spacing-half);
      left: 0;
      border-left: 1px solid var(--c-gray);
    }
  }

  &__icon {
    font-size: 2.4rem;
    margin: 0.7rem 0;
  }

  &__heading {
    font-size: 1.3rem;
  }

  &__description {
    display: none;
  }

  &__temp {
    display: block;
    font-weight: 700;
  }

  &__source {
    font-size: var(--fs-xs);
    margin-bottom: var(--spacing);
  }
}
