button {
  /* reset */
}

.button {
  cursor: pointer;
  @mixin box-shadow;

  background-color: var(--c-secondary);
  color: #fff;
  padding: 0.5em;
  @mixin transition;
  display: flex;
  align-items: center;

  &:hover {
    @mixin box-shadow-hover;
    transform: translateY(-1%);
  }

  &__text {
    display: inline-block;
    padding: 0 0.5em;
  }

  &--icon {
    .button__icon {
      transform: scale(1.2);

      svg {
        display: block;
      }
    }
  }

  &--has-text {
    .button__icon {
      transform: scale(1.2) translateX(10%);
    }
  }

  &--small {
    font-size: var(--fs-s);
  }

  &--round {
    border-radius: 1000px;
  }

  /*
  // Color
  &--white {
    background-color: #fff;
    color: var(--c-p);
    border: 1px solid #fff;
  }

  &--none {
    background-color: transparent;
    color: var(--c-p);
    border: 1px solid transparent;
    box-shadow: none;
    padding: 0;
    &:hover {
      box-shadow: none;
      color: var(--c-secondary);
    }
  }

  &--danger {
    background-color: #fff;
    color: var(--c-feedback-error);
    border: 1px solid #fff;
  }

  &--transparent {
    background-color: transparent;
    color: var(--c-p);
    border: none;
    box-shadow: none;
    margin-left: -1em;
    &:hover {
      box-shadow: none;
      transform: translateY(0);
    }
  }

  &--link {
    color: var(--c-secondary);
    background-color: transparent;
    text-align: left;
    display: inline-block;
    box-shadow: none;
    border: none;
    padding: 0 0;
    &:hover {
      box-shadow: none;
      transform: translateY(0);
      color: var(--c-secondary);
    }
  }

  position: relative;
  &:after {
    @include transition();
    content: '';
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.6em;
    margin-left: -0.6em;
    @include spinner(3px solid #fff, 1.2em);
  }

  &:disabled,
  &--loading {
    color: transparent !important;
    cursor: default;
    pointer-events: none;
    &:after {
      opacity: 1;
    }
  }
   */
}
