.container {
  --input-bkg: var(--c-bkg-light);

  display: flex;
  vertical-align: top;
}

.labelContainer {
  width: 150px;
  margin-right: var(--spacing-half);
  display: block;
  z-index: 999;
}

.description {
  color: #676767;

  p {
    font-size: 0.9em;
  }
}

.label {
  display: block;
  margin-top: 0.4em;
  //font-weight: bold;
}

.content {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  //background-color: var(--c-form-bkg); border: 1px solid var(--c-form-border); padding: 0.4em 0.5em 0.3em 0.5em;
  border-radius: 4px;
  box-sizing: border-box;
  height: 2.4em;
  background-color: var(--input-bkg);

  &:focus {
    outline: none;
    border-color: var(--c-form-border-focus);
    //background-color: var(--c-form-bkg-focus);
  }
}

.input:not([type='checkbox']):not([role='checkbox']) {
  width: 100% !important;
  max-width: 100%;
}

/*
 disabled
 */

.containerIsDisabled {
  --input-bkg: var(--c-bkg-light);

  opacity: 0.8;

  .input {
    cursor: not-allowed;
  }
}

/*
 size
 */

.containerIsSmall {
  font-size: var(--fs-small);
}

/*
 types
 */

.containerIsStacked {
  flex-direction: column;
  position: relative;

  .label {
    margin-top: 0;
    color: var(--c-form-border);

    &:before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: -0.3em;
      right: -0.3em;
      bottom: 0;
      background-color: var(--input-bkg);
    }
  }

  .labelContainer {
    position: absolute;
    left: 0.5em;
    top: 0.6em;
    margin-right: 0;
    width: auto;
    transition: transform 100ms ease-in-out;
    transform-origin: 0 50%;
    pointer-events: none;
  }

  &.containerIsActive {
    .label {
      color: var(--c-form-border-focus);
    }

    .labelContainer {
      transform: translateY(-100%) scale(0.8);
    }
  }
}

.containerIsInline {
  justify-content: flex-end;

  .labelContainer {
    width: auto;
  }

  .content {
    flex: 0 0 auto;
  }
}

.containerIsHidden {
  display: none;
}

/*
 reverse
 */

.containerOrderReverse {
  flex-direction: row-reverse;

  .labelContainer {
    margin-right: 0;
    margin-left: var(--spacing-half);
  }
}

.containerIsStacked.containerOrderReverse {
  flex-direction: column-reverse;

  .labelContainer {
    margin-left: 0;
  }
}

/*
 checkbox
 */

.containerIsCheckBox.containerIsStacked.containerIsActive {
  flex-direction: row;

  .labelContainer {
    position: relative;
    transform: translateY(0) scale(1);
    top: auto;
    left: auto;
    pointer-events: auto;
  }

  .label {
    margin-right: 1em;

    &:after {
      content: ':';
    }
  }
}

/*
 Error
 */

.containerHasError {
  .input {
    border-color: var(--c-feedback-danger);
  }
}

.error {
  color: var(--c-feedback-danger);
  font-size: var(--fs-xsmall) !important;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  padding-top: 0.25em;
}

/*
 Map
 */

.containerIsStacked.containerIsInputMap {
  padding-top: var(--fs-large);

  &.containerIsActive {
    .labelContainer {
      transform: translateY(-10%) scale(1);
      left: 0;
      top: 0;
    }
  }
}
