.input {
  background-color: var(--c-form-bkg);
  border: none;
  border-bottom: 2px solid var(--c-form-border);
  padding: 0.4em 0.5em 0.3em 0.5em;
  box-sizing: border-box;
  height: 2.4em;

  &:focus {
    outline: none;
    border-bottom: 2px solid var(--c-form-border-focus);
    background-color: var(--c-form-bkg-focus);
  }
}

.textarea {
  height: auto;
}
