.content {
  background-color: #fff;
  @mixin transition transform;
  transform: translateX(100%);
  will-change: transform;
  overflow: hidden;

  &[aria-hidden='false'] {
    transform: translateX(0);
    @mixin box-shadow;
  }

  &__park {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    overflow: auto;
  }
}
