:root {
  --c-p: #1d1d1b;
  --c-h: #000;
  --c-bkg: #f3f3f3;
  --c-primary: #ff5722;
  --c-primary-dark: #ba4019;
  --c-secondary: #00796b;
  --c-secondary-light: #129282;
  --c-secondary-dark: #116f63;
  --c-feedback-danger: #af1616;
  --c-feedback-success: var(--c-secondary-dark);
  --c-feedback-warning: var(--c-primary);
  --c-gray: #b9b8b8;
  --c-gray-light: #e8e7e7;
  --c-gray-dark: #989898;
  --c-form-border-color: var(--c-gray-dark);
  --c-form-border-focus: var(--c-p);
}
