.root {
  @mixin transition all;

  transform: translateX(100%);
  opacity: 0;
  will-change: transform;

  &[aria-hidden='false'] {
    transform: translateX(0);
    opacity: 1;
    @mixin box-shadow;
  }

  padding: var(--spacing);
}
