.root {
  @mixin transition all;

  transform: translateX(100%);
  opacity: 0;
  will-change: transform;

  &[aria-hidden='false'] {
    transform: translateX(0);
    opacity: 1;
    @mixin box-shadow;
  }

  padding: var(--spacing);
  display: flex;
  flex-direction: column;
}

.filterForm {
  grid-template-columns: 1fr 1fr;
  margin-top: var(--spacing);
}

.filter {
}

.location {
  margin-top: var(--spacing-page);
}

.app {
  margin-top: auto;
  padding-top: var(--spacing-page);
  padding-bottom: calc(var(--spacing) + 1.1rem + 1.1vmin + 2rem);
}
