.root {
  display: inline-block;
  position: relative;
}

.image {
  display: block;
  position: relative;
  opacity: 0;
  height: auto;
  will-change: opacity;
  @mixin transition opacity;
}

.preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  will-change: opacity;
  @mixin transition opacity;
}

.isBackground {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;

  .image,
  .preview {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background: center center no-repeat;
    background-size: cover;
  }
}

.lazy {
}

.loading {
}

.loaded {
  opacity: 1;
}

.parentLoaded {
  .preview[src$='.png'] {
    opacity: 0;
  }
}
