.root {
  border: 5px solid var(--c-bkg-light);

  button,
  figure,
  img {
    display: block;
  }

  &:not(:disabled) {
    cursor: pointer;
  }
}

.isSelected {
  border-color: var(--c-primary);
}

.isActive {
  border-color: var(--c-secondary);
}
