.root {
}

.images {
  display: flex;
  flex-wrap: wrap;
  margin: var(--spacing) -0.4rem -0.4rem -0.4rem;
}

.image {
  margin: 0.4rem;
  box-sizing: content-box;

  button,
  figure,
  img {
    display: block;
  }
}

.imageButton {
  &:not(:disabled) {
    cursor: pointer;
  }
}
