.park-gallery {
  &__title {
    margin-bottom: var(--spacing-half);
  }

  &__list {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin;
    scrollbar-color: var(--c-gray) transparent;
  }

  &__element {
    scroll-snap-align: center;

    & + .park-gallery__element {
      margin-left: var(--spacing-half);
    }
  }

  &__img img {
    display: block;
    max-width: none;
  }
}
