.park-contact {
  &__element {
    display: flex;
    align-items: center;

    & + .park-contact__element {
      margin-top: 0.5em;
    }
  }

  &__icon {
    margin-right: 1em;
    font-size: 0.9rem;
  }
}
