.root {
}

.title {
  position: absolute;
  bottom: var(--spacing-half);
  left: var(--spacing);
  z-index: 10;
  display: flex;
  align-items: flex-end;
}

.titleHeading {
  font-size: 1.2rem;
  font-weight: 900;
  color: #fff;
  opacity: 0;
  will-change: opacity;
}

.titleLogo {
  border-radius: 50%;

  img,
  figure {
    border-radius: 50%;
    display: block;
  }

  border: 1px solid var(--c-white);
  transform-origin: bottom left;
  will-change: transform;
  background-color: var(--c-bkg);
  position: relative;
  @mixin box-shadow-hover;
}

.titleLogoButton {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  z-index: 999;
}

.controls {
  position: absolute;
  bottom: 0;
  right: var(--spacing);
  z-index: 20;
  display: flex;
  transform: translateY(30%);

  & > * + * {
    margin-left: var(--spacing-half);
  }
}

.control {
  will-change: background-color;
  font-size: 1.2rem;
  @mixin transition background-color;

  &:hover,
  &:focus {
    background-color: var(--c-gray-03);
    transform: none;
    @mixin box-shadow;
  }
}

.controlLove[aria-checked='true'] {
  color: var(--c-feedback-danger);
}

.heroButton {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 999;
}
