.root {
}

.title {
  margin-bottom: var(--spacing-half);
}

.list {
  display: flex;
  overflow: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: thin;
  scrollbar-color: var(--c-form-border) transparent;
}

.element {
  scroll-snap-align: center;

  & + .element {
    margin-left: var(--spacing-half);
  }
}

.img {
  height: 150px;
  width: auto;
  display: block;
  max-width: none;
}

.addImage {
  height: 150px;
  width: 150px;
  flex: 150px 0 0;
  border: 3px dashed var(--c-form-border-light);
  cursor: pointer;
  font-size: 2.5rem;
  color: var(--c-form-border);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--spacing-half);

  &:hover {
    transition: all 200ms ease-in-out;
    border-color: var(--c-form-border);
  }
}

.addImageIcon {
}
