.root {
}

.header {
    background: var(--c-primary);
    position: sticky;
    z-index: 9999;
}

.contentElement {
    padding: 0 var(--spacing);

    & + .contentElement {
        margin-top: var(--spacing-page);
    }
}

.contentElementPosition {
    margin-bottom: var(--spacing);
}

.title {
    padding: var(--spacing-page) var(--spacing);
}

.video {
}

.gallery {
}

.weather {
}

.content {
    & > * + * {
        margin-top: var(--spacing-half);
    }

    p {
        line-height: 1.5;
    }

    ul {
        padding-left: 1em;
        list-style: none;

        li {
            position: relative;

            & + li {
                margin-top: 0.2em;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0.5em;
                background-color: currentColor;
                width: 0.3em;
                height: 0.3em;
                border-radius: 50%;
                transform: translateX(-250%);
            }
        }
    }
}

.contact {
}

.main {
    margin-bottom: var(--spacing-page);
}

.mainEdit {
    margin-bottom: 0;
}

.editControls {
    position: sticky;
    bottom: 0;
    background-color: var(--c-bkg-light);
    z-index: 999;
    border-top: 1px solid var(--c-form-border);

    @mixin mobile {
        position: fixed;
        width: 100%;
    }
}
