.app {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;

  &__content,
  &__settings {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    z-index: 250;
    overflow: auto;
  }

  &__settings {
    max-width: 400px;
    z-index: 200;
  }

  &__map {
    position: fixed !important;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &__logo {
    display: block;

    svg {
      display: block;
    }
  }

  &__controls {
    position: fixed;
    width: 3rem;
    height: 3rem;

    &--logo,
    &--menu,
    &--settings {
      display: block;
      font-size: calc(1.1rem + 1.1vmin);
      z-index: 200;
    }

    &--logo {
      font-size: 6rem;
      width: 6rem;
      height: 6rem;
      top: var(--spacing);
      left: var(--spacing);
      display: block;
    }

    &--menu {
      bottom: var(--spacing);
      left: var(--spacing);
      z-index: 1000;
    }

    &--settings {
      bottom: var(--spacing);
      right: var(--spacing);

      z-index: 210;

      .hello-icon:first-child {
        display: none;
      }

      &[data-close='true'] {
        .hello-icon {
          display: none;
        }

        .hello-icon:first-child {
          display: block;
        }
      }
    }
  }
}
