.app {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow: hidden;

  /*

  &__overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    @include transition(opacity);
    display: none;
    opacity: 0;
  }

  &__settings {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: calc(100vw - 100px);
    max-width: 400px;
    z-index: 199;
    transform: translate(100%, 0);
    @include transition();
    will-change: transform;
    &[aria-hidden='false'] {
      transform: translateX(0);
      @include box-shadow;
    }
  }

  &__map {
    position: fixed !important;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &__content {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    z-index: 250;
    overflow: auto;
    @include transition();
    transform: translateX(100%);
    will-change: transform;
    &[aria-hidden='false'] {
      transform: translateX(0);
      @include box-shadow;
    }
  }
   */

  &__logo {
    display: block;

    svg {
      display: block;
    }
  }

  &__controls {
    position: fixed;
    width: 4.5rem;
    height: 4.5rem;

    &--logo,
    &--menu,
    &--settings {
      display: block;
      font-size: calc(1.1rem + 1.1vmin);
      z-index: 200;
    }

    &--logo {
      font-size: 6rem;
      width: 6rem;
      height: 6rem;
      top: var(--spacing);
      left: var(--spacing);
      display: block;
    }

    &--menu {
      bottom: var(--spacing);
      left: var(--spacing);
      z-index: 1000;
    }

    &--settings {
      bottom: var(--spacing);
      right: var(--spacing);

      .hello-icon:first-child {
        display: none;
      }

      &[data-close='true'] {
        .hello-icon {
          display: none;
        }

        .hello-icon:first-child {
          display: block;
        }
      }
    }
  }
}
