.root {
  background-color: #fff;
  transform: translateX(100%);
  will-change: transform;
  overflow: hidden;
  @mixin transition transform;

  &[aria-hidden='false'] {
    transform: translateX(0);
    @mixin box-shadow;
  }
}

.content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--c-gray) transparent;

  @mixin mobile {
    padding-bottom: 90px;
  }
}
