:root {
  --spacing: 1rem;
  --spacing-half: 0.5rem;
  --spacing-page: 2.2rem;

  --transition-speed: 200ms;

  --c-p: #1d1d1b;
  --c-h: #000;
  --c-bkg: #f3f3f3;

  --c-primary: #ff5722;
  --c-primary-dark: #ba4019;
  --c-secondary: #00796b;
  --c-secondary-light: #129282;
  --c-secondary-dark: #116f63;

  --c-feedback-error: #af1616;

  --c-gray: #b9b8b8;
  --c-gray-light: #e8e7e7;
  --c-gray-dark: #989898;

  --bp-phone: 330px;
  --bp-tablet: 600px;
  --bp-tablet-landscape: 900px;
  --bp-desktop: 1300px;

  @mixin desktop {
    --spacing: 1.6rem;
    --spacing-half: 0.8rem;
    --spacing-page: 3rem;
  }
}

body.no-outline {
  a,
  button,
  .o-helloform__element--type-checkbox .o-helloform__input:focus + label:after,
  .o-helloform__input:focus {
    outline: none;
  }
}

@import 'styles/keyframes/spinner.css';
@import 'styles/reset.css';
@import 'styles/typography.css';
@import 'styles/document.css';
