.root {
  position: relative;

  button,
  figure,
  img {
    display: block;
  }
}

.button {
  border: 5px solid var(--c-bkg-light);
  &:not(:disabled) {
    cursor: pointer;
  }
}

.isActive,
.isSelected {
  border-color: var(--c-primary);
}

.checkbox {
  position: absolute;
  right: -0.1em;
  top: -0.1em;
  z-index: 9999;
  height: auto;
  border: 1px solid var(--c-form-border-focus);
  font-size: 0.8rem;
  border-radius: 3px;
  background-color: #fff;
}
