.root {
}

.form {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: var(--spacing);
  }
}

.delete {
  align-self: flex-end;
}

.clickToSelect {
  text-align: center;
  font-size: var(--fs-xsmall);
  color: var(--c-p-light);
}
